<div class="page-header">
    <h3>
        <span>
          {{post.title}}
        </span>
    </h3>
</div>

<form ng-submit="addComment()"
      style="margin-top:30px;"
      ng-show="signedIn()">
    <h3>Add a new comment</h3>

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Comment"
               ng-model="body"
                id="comment">
        </input>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Comment</button>
</form>


<div ng-repeat="comment in post.comments | orderBy:'-likes'">
    <div class="container-fluid">
          <button id="like" name="like" ng-click="incrementLikes(comment)" >Like</button>
                <button id="unlike" name="unlike" ng-click="decrementLikes(comment)" >Unlike</button>
          </span>
                {{comment.likes}} - by <a ng-href="#/users/{{post.user.id}}">{{comment.user.username}}</a>
          <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>
</div>
